.page {
    display: flex;
    min-height: 100%;
    width: 100%;
    position: relative;

    padding: 40px 0;

    align-items: center;
    justify-content: center;
}

::-ms-reveal {
    filter: brightness(0) invert(1);
}

.input {
    all: unset;
    width: 5ch;

    color: white;
    margin-left: 5px;

    ::placeholder {
        color: white;
    }
}

.submit {
    display: flex;
    align-items: center;

    width: 100%;
    gap: 20px;
}

.sort {
    border-radius: 20px;

    font-size: 1.2rem;
    font-weight: 600;

    padding: 5px 10px;

    color: white;

    border: 2px solid white;

    background-color: var(--background-main);
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;

    left: 0;
    top: 0;

    min-height: 100%;
    max-width: 15%;
    width: 15%;

    padding-top: 70px;

    background-color: var(--background-secondary);

    menu {
        min-height: 100%;
        height: 100%;
        width: 100%;
        padding-top: 40px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            min-height: 100%;
            height: 100%;

            list-style: none;
            margin: 0;

            li {
                position: relative;
                font-size: 1.2rem;
                font-weight: 500;

                width: 100%;
                padding: 10px 0 10px 20px;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                gap: 10px;
                user-select: none;
                cursor: pointer;

                transition: all .2s ease-in-out;

                img {
                    width: 30px;
                    height: 30px;
                    filter: brightness(0) invert(1);
                }

                p {
                    text-transform: capitalize;
                }

                &.active {
                    background-color: var(--color-g-1);
                }
            }
        }
    }
}

.main {
    all: unset;

    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    max-width: 80%;
    width: 80%;

    height: 100%;
    margin-left: 15%;
}


.logout {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    gap: 10px;

    width: fit-content;

    margin: 0 0 20px 20px;

    padding: 10px 30px;
    border: 2px solid transparent;

    font-size: 1.2rem;

    transition: all .2s ease;

    margin-top: auto;

    img {
        transition: all .2s ease;
    }

    &:hover {
        background-color: var(--btn-hover);
        color: white;

        img {
            filter: brightness(0) invert(1);
        }
    }
}


.profile {
    position: relative;
    height: 100%;

    .info {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;

        label p {
            font-size: 1.2rem;
            font-weight: 600;
            border: 2px solid var(--background-light);
            width: fit-content;

            padding: 10px 20px;

            border-radius: 10px;
        }
    }
}

.unit {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;

    position: absolute;
    right: 10px;
    bottom: 0px;

    z-index: 5;

    transform: translateY(-50%);
}

.row5,
.row4,
.row3,
.row2,
.row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    gap: 30px;

    background-color: var(--background-secondary);
    padding: 20px 30px;
    border-radius: 10px;
}

.row {
    label {
        width: 100%;
    }

}

.row2 {
    justify-content: start;

    label {
        width: calc(50% - 15px);
    }
}

.row3 {
    label {
        width: calc(33% - 15px);
    }
}

.row4 {
    label {
        width: calc(23% - 15px);
    }
}

.row5 {

    label {
        width: calc(18% - 15px);
    }
}

.update_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    border-radius: 10px;
    margin-top: auto;
    padding: 10px;

    font-weight: 600;
    font-size: 1.2rem;

    gap: 10px;

    border: 2px solid transparent;

    transition: all .2s ease;

    &:hover {
        background-color: var(--btn-hover);
        color: white;
    }

    &.success {
        background-color: var(--background-success);
        color: white;

        &:hover {
            background-color: var(--background-success-hover);
        }
    }

    &.error {
        background-color: var(--background-error);
        color: white;

        &:hover {
            background-color: var(--background-error-hover);
        }
    }
}

.insurances {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
    max-width: 100%;

    padding-top: 100px;
}

.interactive {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;

    margin-bottom: 40px;
    height: 40px;

    user-select: none;
}

.header {
    width: 100%;
    position: absolute;

    top: 0;
    left: 0;

    background-color: var(--background-main);
    z-index: 3;
}

.type_selector {
    display: flex;
    align-items: center;
    position: relative;

    width: fit-content;
    border-radius: 15px;
    overflow: hidden;

    height: 100%;

    border: 2px solid white;

    background-color: var(--background-main);

    button img {
        width: 20px;
        height: 20px;
        transition: all .2s ease;

        filter: brightness(0) invert(1);
    }

    .item {
        height: 100%;
        padding: 10px 20px;
        user-select: none;
        cursor: pointer;

        transition: all .2s ease;

        background-color: inherit;
        color: white;

        &:hover {
            background-color: var(--background-secondary);
            color: white;
        }

        &.active {
            background-color: white;
            color: black;

            img {
                filter: brightness(0) invert(0);
            }
        }
    }
}

.nothing {
    display: flex;
    align-items: center;

    gap: 20px;

    p {
        font-size: 1.2rem;
        font-weight: 600;

        color: white;
    }

    img {
        width: 40px;
        height: 40px;

        filter: brightness(0) invert(1);
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    width: fit-content;

    border-radius: 15px;
    overflow: hidden;

    border: 2px solid white;

    background-color: var(--background-main);

    input {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 100%;

        border: none;
        outline: none;
        background-color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all .2s ease;

        img {
            width: 20px;
            height: 20px;
            transition: all .2s ease;
        }

        &:hover {
            background-color: var(--btn-hover);
            color: white;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.users {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 100%;

    margin-top: 135px;

    max-height: calc(100vh - 135px - 70px - 80px);
    overflow-y: scroll;

    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        transition: all .3s;
    }

    &::-webkit-scrollbar-thumb {
        transition: all .3s;
        width: 1px;
        border-radius: 8px;
        background: #615d5d;
        background-clip: content-box;
    }
}

.title {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    padding: 20px 30px;
    padding-right: 40px;

    div {
        display: flex;
        align-items: center;

        font-weight: 600;
    }
}

.user {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    background-color: var(--background-secondary);
    padding: 20px 30px;
    border-radius: 10px;

    text-decoration: none;
    color: white;

    transition: all .2s ease;

    border: 2px solid var(--background-light);

    div {
        display: flex;
        align-items: center;
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        all: unset;
    }

    .btn {
        all: unset;

        position: relative;
        width: fit-content;

        padding: 8px;
        border-radius: 10px;

        cursor: pointer;

        transition: all .2s ease;

        img {
            transition: all .2s ease;
            height: 30px;
        }

        &:hover {
            background-color: var(--background-light);
            transform: scale(1.1);
        }

        &.delete {
            img {
                height: 25px;
                filter: brightness(0) saturate(0%) invert(16%) sepia(97%) saturate(3224%) hue-rotate(3deg) brightness(98%) contrast(115%);
            }
        }

        &.open {
            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(24%) saturate(5772%) hue-rotate(211deg) brightness(90%) contrast(92%);
            }
        }
    }
}