.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    background-color: var(--background-secondary);

    border: 3px solid var(--border-color);

    width: fit-content;
    margin: auto;
    padding: 40px;
    min-width: 700px;

    gap: 40px;

    label {
        width: 100%;
    }

    success h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 20px;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: fit-content;
    gap: 20px;

    user-select: none;
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: bold;

    input {
        width: 15px;
        aspect-ratio: 1;
    }
}

.page {
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 15px;

    background-color: var(--background-main);
    color: white;

    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--btn-hover);
    }

    &.error {
        background-color: var(--background-error);
    }

    &.success {
        background-color: var(--background-success);
    }
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    min-width: 100%;

    p {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--background-error);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 10px;
    margin-top: 20px;

    span {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        color: #c9c9c9;

        font-size: 0.9rem;
        font-weight: bold;

        text-decoration: underline;

        &:hover {
            color: white;
        }
    }
}