:root {
    --background-main: #111111;
    --background-secondary: #1f1f1f;
    --background-light: #2c2c2c;

    --background-error: #ff0000;
    --background-error-hover: #cc0000;

    --background-success: #06b900;
    --background-success-hover: #00af00;

    --btn-hover: #1c89e2;

    --border-color: #3a3a3a;
    --border-active: #265ddd;

    --color-g-1: #3a3a3a;
    --color-g-2: #545d6e;

    --color: white;

    --fz-small: 12px;
    --fz-normal: 16px;
    --fz-big: 24px;
}

:root[data-theme="white"] {}